<clr-main-container class="main-container">
  <clr-header class="header header-4">
    <div class="branding">
      <a class="logo-and-title" routerlink="/" href="/">

        <span class="title"> 🔰 Algorithm Garden</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav" [clr-nav-level]="1">
      <section class="sidenav-content">
        <section class="nav-group collapsible">
          <input id="tabexample1" type="checkbox">
          <label for="tabexample1">Tree</label>
          <ul class="nav-list">
            <li>
              <a class="nav-link" routerLink="/algorithms/binary-tree/longest-path-sum-r2l">
                BinaryTree - SUM of longest root to leaf path
              </a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</clr-main-container>
